<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Qing</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">       
        <link rel="stylesheet" href="/stylesheets/style.css">   
    </head>
    <body>
        <div></div>
        <div class="col-md-12">             
            <div class="col-md-12"> 
                <div class="col-md-1 mt-15px"><img src="/images/title.png" class="h-30px ver-m"></div>            
                <ul class="nav navbar-nav" role="tablist">
                    <li role="presentation" <%if(title == "home"){%>class="active"<%}%> ><a href="/">主页</a></li>
                    <li role="presentation" <%if(title == "login"){%>class="active"<%}%> ><a href="/login">登录</a></li>
                    <%if(locals.islogin){%>
                        <li role="presentation" <%if(title == "modifyPwd"){%>class="active"<%}%> ><a href="/modifyPwd">更改密码</a></li>
                        <li role="presentation"><a href="/logout">退出</a></li>
                        <li role="presentation"><a href="/searchAttendance">查询</a></li>
                    <%}else{%>
                        <li role="presentation" <%if(title == "register"){%>class="active"<%}%> ><a href="/register">注册</a></li>
                    <%}%>                   
                </ul>
            </div>
        </div>
      
        <div class="col-md-12 mt-15px">
            <article>
                <div class="container">
                    <form class="col-sm-offset-4 col-sm-4 form-horizontal" role="form" method="post">
                        <fieldset>
                        <% if(locals.islogin) { %>
                           用户：<h3> <%= user %></h3>已经登陆。<br>
                           <a class="btn" href="/logout">登出</a>
                            <% } else{ %>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="username">用户名</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="username" name="username" placeholder="用户名" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="password">密码</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="密码" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9 txt-c">
                                    <button type="submit" class="btn btn-primary mr-15px w-90px">登录</button>
                                    <button class="btn btn-close ml-15px w-90px">取消</button>
                                </div>
                            </div>
                            <% } %>
                        </fieldset>
                    </form>
                </div>
            </article>
        </div>        
    </body>
    <script type="text/javascript" src="/javascripts/common/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/common/bootstrap.min.js"></script>
</html>